button{
    font-size: 50px;
    padding: 1%;
    cursor: pointer;
    border-radius: 10px;
    transform: translateX(-50%);
    margin-left: 50%;
    margin-top: 5%;
    text-transform: capitalize;
}
div{
    border: 1px solid #438920;
    border-radius: 10px;
    margin: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 5%;
}
div div{
    border: none;
    border-radius: 0;
    padding: 3%;
    font-size: 30px;
    text-transform: capitalize;
    border-left: 10px solid pink;
    font-family: sans-serif;
}
.anim{
    animation: anima 1s ease-in-out forwards;
}
@keyframes anima{
    0%{opacity:0; margin-left:50%;}
    100%{opacity:1;margin: 5%;}
}